* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

nav {
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  align-content: center;
}

/* .logo,
.menu,
.icon-grid {
  border: 2px solid;
} */

.logo {
  height: 60px;
  width: 200px;
  padding: 10px;
}

.menu li {
  display: inline-block;
  text-transform: uppercase;
  list-style: none;
  padding: 12px 15px;
  font-size: 13px;
  color: #303441;
  font-weight: bold;
  font-family: "Raleway", Sans-serif;

  transition: 0.4s;
}

.menu li:nth-child(1),
.menu li:hover {
  background-color: #234dd4;
  color: #fff;
}

.icon-grid button {
  padding: 9px 15px;
  background: transparent;
  border: 1px solid #234dd4;
  border-radius: 30px;
  font-size: 10px;
  color: #303441;
  text-transform: uppercase;
  margin-right: 15px;

  transition: 0.4s;
}

.icon-grid button:hover {
  background: #234dd4;
  color: #fff;
}

.icon {
  font-size: 15px;
  padding-right: 5px;
}

.icon1 {
  text-align: center;
  font-size: 15px;
  padding: 8px;
  color: #303441;
  margin-right: 10px;
  border: 1px solid #234dd4;
  border-radius: 50%;
}
